/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  /* alignment property */
  text-align: center;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
   /*width*/
    width: 40%;
    /*height*/
    height: 100px;
    /*display*/
    display: inline-block;
    margin: 10px;
    background: #DED6D3;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    /*width*/
    width: 80%;
    /*height*/
    height: 100px;
    /*margin*/
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: auto;
    background: #DED6D3;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    /*width*/
    width: 80%;
    /*height*/
    height: 200px;
    /*margin*/
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: auto;
    background: #DED6D3;
}


